@charset "utf-8";
html {height:100% }
body {
	height:100%;
	background:url(img/bg.jpg);
	background-size:cover }
nav {
	height:100%;
	display:inline-block;
	width:20%;
	vertical-align:top;
	box-sizing: border-box;
	float:left;
	/*padding-left:4%;
	padding-RIGHT:1%;*/
	padding-top:50px
	 }
h1 {
	font-family: 'Oswald', sans-serif;
	font-size:2.0em;
	color:white;
	line-height:70px;
	text-align: center;
	display:block;
	 }
nav span { /* pour le fond vert sous le nom de l'hoputal */
	display:inline-block;
	margin-top:30px;
	width:100%;
	background-color:#0a6442;
	height:70px;
}
nav img {   /*logo*/
	margin-left:20%;
	width:70%;
	display:inline-block;}
	
section {
	height:100%;
	background:white; 
	display:inline-block;
	width:80%;
	vertical-align:top;
	box-sizing: border-box;
	overflow:scroll;
	float:right}
section ul li {
	display:inline-block;
	background:url(img/bg.jpg);
	background-size:cover;
	width:90%;
	margin-left:3.5%;
	margin-top:30px;
	min-height:120px;
	padding:10px;
	color:white;
	font-family:verdana, sans-serif;
	font-size:16px;
	line-height:22px}
ul li h2 {
	font-family: 'Oswald', sans-serif;
	font-size:24px;
	}
ul li span{
	display:inline-block;
	background:url(img/btClose.png);
	background-size:cover;
	width:30px;
	height:30px;
	float:right
}
section ul li p {
	margin-left:120px;
	margin-bottom:15px}	
aside ul li p {
	margin:15px}	
	
section ul li:first-child{
	margin-top:50px;
}

aside {
	height:100%;
	display:inline-block;
	width:20%;
	vertical-align:top;
	box-sizing: border-box;
	float:right;
	padding-top:50px;
	background:white;
	}
aside ul li{
	display:inline-block;
	width:95%;
	float:right;
	background:url(img/bg.jpg);
	background-size:cover;
	overflow:scroll;
	max-height:150px;
	margin-top:30px;
	color:white;
	font-family:verdana, sans-serif;
	font-size:12px;
	padding:10px
}
aside ul li h2 {
	font-size:16px;
}
aside ul li:first-child {margin-top:0px;}
section ul {height:100%}
section ul li.map {
height:65%;
overflow:hidden;
padding:10px;
background:url(img/map.jpg);
background-size:cover;
border:solid 7px #0d1c14;}
section ul li.map img
{position: relative;
left:305px;
top:150px;
width:30px;
}
section ul li.map p{
	z-index:3;
	font-size:20px;
	color:#0d1c14;;
	position:absolute;
	display:inline-block;
	height:50px;
	bottom:0px}
	a {color:white;
	text-decoration:none}